# Default ignored files
/workspace.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
/markdown-navigator/profiles_settings.xml
/dippidy-derp.iml
/GitLink.xml
/hotswap_agent.xml
/jpa-buddy.xml
/markdown.xml
/markdown-navigator.xml
/misc.xml
/modules.xml
/vcs.xml
/AugmentWebviewStateStore.xml
/dataSources*
/db-forest-config.xml
